
:root{
    --primary-text-color:rgba(0,0,0,0.8);
    --accent-color:#18a0fb;
    --primary-white-color:#ffffff;
    --color-purple:rgb(128,0,128); 
}
body{
        color:var(--primary-text-color);
    }
.feature-title{
    color:rgb(128,0,128);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
}
.feature-text{
    color:rgba(0,0,0,0.8);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.logo-secondary{
    color: black;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
}
.logo-primary{
    color: #18a0fb;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
}
.hero-title{
    color:#18a0fb;
    font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
.hero-title :focus{
color: purple;
}
.hero-btn{
    color:#ffffff;
    background-color: #18a0fb;
    font-weight: 700;
    font-size: 16px;
  line-height: 1.8;
  text-align: center;
}
.social-links{
    color: chartreuse;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.social-links :hover{
color:brown;
}
.social-links :focus{
    color:darkgreen;
}
.navigation-item{
    font-weight: 500;
    font-size: 14px;
   line-height: 1.17;
}
.navigation-link{
    text-decoration:none ;
}
.navigation-item :hover{
color: #18a0fb;
}
.navigation-item :focus{
    color: #000000;
}
.nav-item{
    color: black;
}
.nav-item :hover{
    color: #ffffff;
    background-color: #18a0fb;
}
.nav-item :focus{
    color: orangered;
    background-color: #000000;
}
.nav-item :active{
    color:chartreuse;
    background-color: #000000;
}
.section-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
}
.section-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
}
.header-title{
    color: #000000;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.headen-title{
    color: #000000;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.addres-text{
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.addres-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.hero-container{
    
}
    
                


